@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --section-overlay:rgba(0,0,0,0.7);
  --background-overlay:rgba(0,0,0,0.2);
}
body{
  height: 100vh;
}
#root{
  height :100vh;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
